@use 'rules' as *;


//**Instruction**//

.instruction {
    display: flex;
    flex-direction: column;
    margin: 60px 20px;

    .instruction_title {
        margin-top: 0;
        margin-bottom: 0;


        h2 {
            margin-bottom: 18px;
            margin-top: 0;
            font-size: 24px;
            font-weight: 700;
        }
    }

    .instruction_steps {
        display: flex;
        gap: 18px;
        flex-direction: column;


        .instruction_step {
            align-items: center;
            width: 100%;
            background-color: $main-color-grey;
            @include long-button-preform;


            .number {
                display: inline-flex;
                height: 24px;
                width: 24px;
                border-radius: 50px;
                color: lighten($main-color-grey, 5%);
                background-color: $third-color-violet;
                justify-content: center;
                align-items: center;
                aspect-ratio: 1/1;
                position: relative;
                z-index: 2;
                right: 10px;
            }

            .step {
                display: flex;
                justify-content: center;
                position: relative;
                width: 100%;

                .icon {
                    color: darken($main-color-grey, 20%);
                    position: relative;
                    right: 20.7%;
                }

                .text {
                    font-size: 16px;
                    font-weight: 500;
                    margin-left: -5%;
                    white-space: nowrap;
                }
            }
        }
    }
}

/****** Media queries ***********/

@media (min-width: 769px) {
    .instruction {
        margin: 60px 0;

        .instruction_steps {
            flex-direction: row;
            gap: 32px;
            box-sizing: border-box;
            justify-content: center;

            .instruction_step {
                width: calc(33% - 26px);

                .step {
                    .icon {
                        right: 22%;
                    }

                    .text {
                        margin-left: -18%;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@media (min-width: 1080px) {
    .instruction {
        margin: 60px 7.5%;

        .instruction_steps {
            gap: 40px;

            .instruction_step {

                .step {

                    .text {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}