//Mes variables//

$main-grey-color:#F3F3F3;
$secondary-rose-color:#FF79DA;
$third-violet-color:#9356DC;
$fourth-green-color:#99E2D0;
$main-police:'Roboto', sans-serif;

//Mes mixins//
@mixin long-button-shadow { box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);}
@mixin secondary-writingstyle {
    font-family:'Shrikhand', sans-serif; 
    font-style: italic;
  }
  @mixin button-preform {
  display: inline-flex;
  height: 50px;
  width: fit-content;
  box-sizing: border-box;
  background: linear-gradient(90deg, $secondary-rose-color, $third-violet-color);
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  cursor: pointer;
}

@mixin image-preform {
    object-fit: cover;
    flex-grow: 1;
}
@mixin long-button-preform {
    display: flex;
    height: 72px;
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

//**Footer**//

.footer {
    background-color: darken($main-grey-color, 80%);
    display: flex;
    flex-direction: column;


    .footer-logo {
    color: lighten($main-grey-color, 5%);
    width: 138px;
    font-size: 16px;
    font-weight: 400;
    padding-left: 25px;
    padding-top: 25px;
    @include secondary-writingstyle;
    }

    .footer_list {
    padding: 25px;
    gap: 7px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    

        .list_step {
        display: inline-flex;
        gap: 12px;


            i {
            color: lighten($main-grey-color, 5%);
            font-size: 13px;
            }

            .list_text {
            color: lighten($main-grey-color, 5%);
            font-size: 16px;
            font-weight: 400;
            }
        }
    }
}
/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (min-width: 769px) and (max-width: 1440px){
.footer{
    flex-direction: row;
    padding-top:40px ;
    padding-bottom: 10px;
    justify-content: flex-end;
    align-items: center;

    .footer-logo{
        order: 2;
        position: relative;
        padding: 0;
        right: 3%;
        bottom: 5px;
    }
    .footer_list{
        flex-direction: row;
        padding-right: 10%;
        gap: 16px;
    }
}
}