@charset "UTF-8";
body {
  display: flex;
  justify-content: center;
  white-space: normal;
  margin: 0;
}
body .main-container {
  width: 100%;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body .main-container a {
  color: inherit;
  text-decoration: none;
}

.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-header .head-logo {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  overflow: visible;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 2;
}
.main-header .head-logo .logo {
  height: 36px;
  width: 197px;
  margin-bottom: 10px;
  margin-top: 18px;
}
.main-header .searchform {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #f8f8f8;
  padding-top: 14px;
  padding-bottom: 14px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 5px;
}
.main-header .searchform input:focus, .main-header .searchform label:focus {
  outline: none;
}
.main-header .searchform .fa-location {
  color: #4d4d4d;
}
.main-header .searchform input {
  border: none;
  font-size: 16px;
  font-weight: 500;
  background-color: #f8f8f8;
  text-align: center;
  color: #272727;
}
.main-header .presentation {
  background-color: #F3F3F3;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.main-header .presentation h1 {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-top: 40px;
}
.main-header .presentation p {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  margin-top: 0;
  margin-bottom: 40px;
  color: #272727;
}
.main-header .button_for_action {
  display: inline-flex;
  height: 50px;
  width: -moz-fit-content;
  width: fit-content;
  box-sizing: border-box;
  background: linear-gradient(90deg, #FF79DA, #9356DC);
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  padding: 13px 18.75px;
  margin-bottom: 60px;
  transition: all 0.4s ease;
}
.main-header .button_for_action:hover {
  background: linear-gradient(90deg, #FF94E1, #9B6CDC);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
}
.main-header .button_for_action a {
  color: white;
  font-size: 16px;
  font-weight: 500;
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (min-width: 769px) and (max-width: 1440px) {
  .main-header .head-logo .logo {
    margin-bottom: 32px;
    margin-top: 30px;
  }
}
.instruction {
  display: flex;
  flex-direction: column;
  margin: 60px 20px;
}
.instruction .instruction_title {
  margin-top: 0;
  margin-bottom: 0;
}
.instruction .instruction_title h2 {
  margin-bottom: 18px;
  margin-top: 0;
  font-size: 24px;
  font-weight: 700;
}
.instruction .instruction_steps {
  display: flex;
  gap: 18px;
  flex-direction: column;
}
.instruction .instruction_steps .instruction_step {
  align-items: center;
  width: 100%;
  background-color: #F3F3F3;
  display: flex;
  height: 72px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.instruction .instruction_steps .instruction_step .number {
  display: inline-flex;
  height: 24px;
  width: 24px;
  border-radius: 50px;
  color: white;
  background-color: #9356DC;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  position: relative;
  z-index: 2;
  right: 10px;
}
.instruction .instruction_steps .instruction_step .step {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}
.instruction .instruction_steps .instruction_step .step .icon {
  color: silver;
  position: relative;
  right: 20.7%;
}
.instruction .instruction_steps .instruction_step .step .text {
  font-size: 16px;
  font-weight: 500;
  margin-left: -5%;
  white-space: nowrap;
}

/****** Media queries ***********/
@media (min-width: 769px) {
  .instruction {
    margin: 60px 0;
  }
  .instruction .instruction_steps {
    flex-direction: row;
    gap: 32px;
    box-sizing: border-box;
    justify-content: center;
  }
  .instruction .instruction_steps .instruction_step {
    width: calc(33% - 26px);
  }
  .instruction .instruction_steps .instruction_step .step .icon {
    right: 22%;
  }
  .instruction .instruction_steps .instruction_step .step .text {
    margin-left: -18%;
    font-size: 14px;
  }
}
@media (min-width: 1080px) {
  .instruction {
    margin: 60px 7.5%;
  }
  .instruction .instruction_steps {
    gap: 12px;
  }
  .instruction .instruction_steps .instruction_step .step .text {
    font-size: 16px;
  }
}
.restaurants {
  background-color: #F3F3F3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px 4.6%;
}
.restaurants .restaurants_title {
  margin-top: 0;
  margin-bottom: 24px;
}
.restaurants .restaurants_cards {
  display: flex;
  flex-direction: column;
  gap: 18px;
  box-sizing: border-box;
  width: 100%;
}
.restaurants .restaurants_cards .card-box {
  display: flex;
  position: relative;
}
.restaurants .restaurants_cards .card-box a {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  z-index: 1;
}
.restaurants .restaurants_cards .card-box a .card {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: white;
}
.restaurants .restaurants_cards .card-box a .card .card-image {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  position: relative;
}
.restaurants .restaurants_cards .card-box a .card .card-image img {
  height: 180px;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  flex-grow: 1;
  -o-object-position: center 68%;
     object-position: center 68%;
}
.restaurants .restaurants_cards .card-box a .card .card-image .card-new {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #32b091;
  background-color: #99E2D0;
  padding: 6px 9px;
  font-size: 14px;
  font-weight: 500;
  display: inline-flex;
  box-sizing: border-box;
  border-radius: 2px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.restaurants .restaurants_cards .card-box a .card .card-txt {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  gap: 3px;
}
.restaurants .restaurants_cards .card-box a .card .card-txt .card-title {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}
.restaurants .restaurants_cards .card-box a .card .card-txt .card-subtitle {
  font-size: 17px;
  font-weight: 300;
  margin: 0;
}
.restaurants .restaurants_cards .card-box .like {
  position: relative;
  display: inline-block;
  width: 22px;
  height: 22px;
  cursor: pointer;
  z-index: 3;
  top: 200px;
  right: 10%;
  /* Icône regular (non remplie) */
  /* Icône solid (remplie) */
}
.restaurants .restaurants_cards .card-box .like .input-like {
  display: none;
}
.restaurants .restaurants_cards .card-box .like .regular {
  position: absolute;
  font-size: 22px;
  top: 0;
  left: 0;
  color: black;
  /* Par défaut, noire */
  z-index: 2;
  /* Toujours au-dessus par défaut */
  transition: color 1s ease-in-out;
}
.restaurants .restaurants_cards .card-box .like .input-like:checked + .regular {
  color: #9356DC;
}
.restaurants .restaurants_cards .card-box .like .input-like:checked ~ .solid {
  color: #9356DC;
  opacity: 1;
}
.restaurants .restaurants_cards .card-box .like .input-choice:not(:checked) + .regular {
  color: #9356DC;
}
.restaurants .restaurants_cards .card-box .like .input-l:not(:checked) ~ .solid {
  color: white;
  opacity: 0;
}
.restaurants .restaurants_cards .card-box .like .solid {
  position: absolute;
  font-size: 22px;
  top: 0;
  left: 0;
  color: white;
  /* Par défaut, blanche ou invisible */
  opacity: 0;
  /* Invisible par défaut */
  z-index: 1;
  /* Derrière regular par défaut */
  transition: all 1s ease-in-out;
}

/****** Media queries ***********/
@media (min-width: 769px) {
  .restaurants {
    padding: 30px 0;
  }
  .restaurants .restaurants_cards {
    flex-direction: row;
    flex-wrap: wrap;
    -moz-column-gap: 80px;
         column-gap: 80px;
    row-gap: 40px;
  }
  .restaurants .restaurants_cards .card-box {
    width: calc(50% - 50px);
  }
  .restaurants .restaurants_cards .card-box a {
    flex-grow: 1;
  }
}
@media (min-width: 1080px) {
  .restaurants {
    padding: 30px 7.5%;
  }
}
.resto {
  display: flex;
  flex-direction: column;
}
.resto .resto_image {
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  flex-grow: 1;
  aspect-ratio: 3/2.1;
}
.resto .menu {
  border-radius: 40px 40px 0 0;
  display: flex;
  flex-direction: column;
  background-color: #F3F3F3;
  margin-top: -13%;
  width: 100%;
  box-sizing: border-box;
  padding: 0 3%;
  gap: 40px;
}
.resto .menu .resto_name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.resto .menu .resto_name h1 {
  font-family: "Shrikhand", sans-serif;
  font-style: italic;
  font-size: 28px;
  font-weight: 400;
  margin-top: 40px;
  margin-bottom: 0;
}
.resto .menu .resto_name .like {
  position: relative;
  display: inline-block;
  width: 22px;
  height: 22px;
  cursor: pointer;
  padding-right: 4%;
  bottom: -20px;
  /* Icône regular (non remplie) */
  /* Icône solid (remplie) */
}
.resto .menu .resto_name .like .input-like {
  display: none;
}
.resto .menu .resto_name .like .regular {
  position: absolute;
  font-size: 22px;
  top: 0;
  left: 0;
  color: black;
  /* Par défaut, noire */
  z-index: 2;
  /* Toujours au-dessus par défaut */
  transition: color 1s ease-in-out;
}
.resto .menu .resto_name .like .input-like:checked + .regular {
  color: #9356DC;
}
.resto .menu .resto_name .like .input-like:checked ~ .solid {
  color: #9356DC;
  opacity: 1;
}
.resto .menu .resto_name .like .input-choice:not(:checked) + .regular {
  color: #9356DC;
}
.resto .menu .resto_name .like .input-l:not(:checked) ~ .solid {
  color: white;
  opacity: 0;
}
.resto .menu .resto_name .like .solid {
  position: absolute;
  font-size: 22px;
  top: 0;
  left: 0;
  color: white;
  /* Par défaut, blanche ou invisible */
  opacity: 0;
  /* Invisible par défaut */
  z-index: 1;
  /* Derrière regular par défaut */
  transition: all 1s ease-in-out;
}
.resto .carte-plats {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.resto .carte-plats .type-plats {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  opacity: 0;
  transform: translateX(-50%);
  /* Animation pour tous les blocs */
  animation: platsappear 1.2s cubic-bezier(0.42, 0, 0.58, 1) forwards;
  /* Appliquer un délai progressif pour chaque bloc */
}
.resto .carte-plats .type-plats:nth-child(1) {
  animation-delay: 0s;
  /* Entrées (immédiat) */
}
.resto .carte-plats .type-plats:nth-child(2) {
  animation-delay: 0.3s;
  /* Plats (200ms plus tard) */
}
.resto .carte-plats .type-plats:nth-child(3) {
  animation-delay: 0.6s;
  /* Desserts (400ms plus tard) */
}
.resto .carte-plats .type-plats .name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.resto .carte-plats .type-plats .name h2 {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 6px;
  margin-top: 0;
}
.resto .carte-plats .type-plats .name .underline {
  width: 40px;
  background-color: #99E2D0;
  height: 3px;
}
.resto .carte-plats .type-plats .variant-plat {
  align-items: flex-end;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  display: flex;
  height: 72px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
}
.resto .carte-plats .type-plats .variant-plat .input-choice {
  display: none;
}
.resto .carte-plats .type-plats .variant-plat .input-choice:checked ~ .plat .plat-first_line,
.resto .carte-plats .type-plats .variant-plat .input-choice:checked ~ .plat .plat-second_line {
  overflow: hidden;
  text-overflow: ellipsis;
}
.resto .carte-plats .type-plats .variant-plat .plat {
  display: inline-flex;
  flex-direction: column;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  gap: 5px;
  max-width: 62%;
  white-space: nowrap;
}
.resto .carte-plats .type-plats .variant-plat .plat .plat-first_line {
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  overflow: visible;
}
.resto .carte-plats .type-plats .variant-plat .plat .plat-second_line {
  font-size: 15px;
  font-weight: 300;
  width: 100%;
}
.resto .carte-plats .type-plats .variant-plat .input-choice:checked ~ .choiceplat {
  transform: translateX(0);
  transition: transform 1s ease-in-out;
}
.resto .carte-plats .type-plats .variant-plat .input-choice:not(:checked) ~ .choiceplat {
  transform: translateX(60%);
  transition: transform 1s ease-in-out;
}
.resto .carte-plats .type-plats .variant-plat .choiceplat {
  display: inline-flex;
  box-sizing: border-box;
  width: 120px;
  height: 100%;
  align-items: flex-end;
  justify-content: space-between;
  transform: translateX(60%);
  gap: 15px;
}
.resto .carte-plats .type-plats .variant-plat .choiceplat .prix {
  font-size: 15px;
  font-weight: 700;
  padding: 15px 0;
  display: inline-block;
}
.resto .carte-plats .type-plats .variant-plat .choiceplat .coulisse {
  width: 60%;
  height: 100%;
  background: #99E2D0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.resto .carte-plats .type-plats .variant-plat .choiceplat .coulisse .check-icon {
  font-size: 18px;
  background-color: white;
  color: #99E2D0;
  display: flex;
  width: 24px;
  height: 24px;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
}
@keyframes platsappear {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.resto nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.resto nav .button_for_action {
  display: inline-flex;
  height: 50px;
  width: -moz-fit-content;
  width: fit-content;
  box-sizing: border-box;
  background: linear-gradient(90deg, #FF79DA, #9356DC);
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  padding: 16px 49px;
  margin-bottom: 60px;
  transition: all 0.4s ease;
}
.resto nav .button_for_action:hover {
  background: linear-gradient(90deg, #FF94E1, #9B6CDC);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
}
.resto nav .button_for_action a {
  color: white;
  font-size: 16px;
  font-weight: 500;
}

/****** Media queries ***********/
@media (min-width: 769px) {
  .resto {
    align-items: center;
  }
  .resto .resto_image {
    height: 380px;
    width: 100%;
  }
  .resto .menu {
    width: 73%;
    margin-top: -5%;
  }
  .resto .menu .resto_name {
    justify-content: center;
    gap: 20px;
  }
  .resto .menu .resto_name .like {
    top: 19px;
  }
  .resto .menu .carte-plats {
    padding: 0 20%;
  }
  .resto nav .button_for_action {
    margin-bottom: 30px;
  }
}
.resto-header {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
}
.resto-header nav {
  position: absolute;
  left: 10px;
}
.resto-header nav i {
  color: #4d4d4d;
  margin-left: 12px;
  font-size: 17px;
}
.resto-header .logo {
  height: 36px;
  width: 197px;
  margin-bottom: 10px;
  margin-top: 18px;
}

/****** Media queries ***********/
@media (min-width: 769px) {
  .resto-header .logo {
    margin-bottom: 32px;
    margin-top: 30px;
  }
}
.footer {
  background-color: #272727;
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
  gap: 7px;
}
.footer .footer-logo {
  color: white;
  width: 110px;
  font-size: 16px;
  font-weight: 400;
  padding: 25px;
  font-family: "Shrikhand", sans-serif;
  font-style: italic;
}
.footer .footer_list_1,
.footer .footer_list_2 {
  padding: 0 25px;
  gap: 7px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
}
.footer .footer_list_1 .list_step,
.footer .footer_list_2 .list_step {
  display: inline-flex;
  gap: 12px;
}
.footer .footer_list_1 .list_step i,
.footer .footer_list_2 .list_step i {
  color: white;
  font-size: 13px;
}
.footer .footer_list_1 .list_step .list_text,
.footer .footer_list_2 .list_step .list_text {
  color: white;
  font-size: 16px;
  font-weight: 400;
}

/****** Media queries ***********/
@media (min-width: 769px) {
  .footer {
    flex-direction: row;
    padding-top: 40px;
    padding-bottom: 20px;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    padding-right: 1.3%;
  }
  .footer .footer-logo {
    order: 2;
    padding-top: 0;
    padding-left: 3%;
    padding-bottom: 10px;
    padding-right: 0;
  }
  .footer .footer_list_1,
  .footer .footer_list_2 {
    flex-direction: row;
    padding: 0;
    gap: 20px;
  }
}
/* Style du loader */
.loader-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FF79DA;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: loaderout 5s ease-in-out forwards;
  /* 🔹 Loader en forme de couteau et fourchette */
}
.loader-box .loader {
  font-size: 60px;
  display: flex;
  gap: 10px;
  color: #99E2D0;
  animation: spin 2.5s linear infinite;
}

/* 🔹 Animation de rotation */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* 🔹 Animation pour faire disparaître le loader */
@keyframes loaderout {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}/*# sourceMappingURL=global.css.map */