@use 'rules.scss';
@use 'root.scss';
@use 'main_header.scss';
@use 'fonctionnement.scss';
@use 'restaurants_cards.scss';
@use 'menu_resto.scss';
@use 'resto_header.scss';
@use 'footer.scss';
@use 'loader.scss'; 