//Mes variables//

$main-grey-color:#F3F3F3;
$secondary-rose-color:#FF79DA;
$third-violet-color:#9356DC;
$fourth-green-color:#99E2D0;
$main-police:'Roboto', sans-serif;


//Mes mixins//
@mixin long-button-shadow { box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);}
@mixin secondary-writingstyle {
    font-family:'Shrikhand', sans-serif; ;
    font-style: italic
  }
  @mixin button-preform {
  display: inline-flex;
  height: 50px;
  width: fit-content;
  box-sizing: border-box;
  background: linear-gradient(90deg, $secondary-rose-color, $third-violet-color);
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  cursor: default;
}
@mixin button-inside-preform{
    color: white;
    font-size: 16px;
    font-weight: 500;
}
@mixin image-preform {
    object-fit: cover;
    flex-grow: 1;
}
@mixin long-button-preform {
    display: flex;
    height: 72px;
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
@mixin section-preform {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

//**Main-header**//

.main-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .head-logo{
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    overflow:visible;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 2;
      
        .logo {
        height: 36px;
        width: 197px;
        margin-bottom: 10px;
        margin-top: 18px;
        }
    }
    .searchform {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: lighten($main-grey-color, 2%);
    padding-top: 14px;
    padding-bottom: 14px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 5px;

        input:focus, label:focus {
        outline: none;
        }

        .fa-location {
        color: darken($main-grey-color, 65%);
        }

        input {
        border: none;
        font-size: 16px;
        font-weight: 500;
        background-color:lighten($main-grey-color, 2%);
        text-align: center;
        color: darken($main-grey-color, 80%);
        }
    }

    .presentation {
    background-color: $main-grey-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

        h1 {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-top: 40px;
}
        p {
        font-size: 18px;
        font-weight: 300;
        text-align: center;
        margin-top: 0;
        margin-bottom: 40px;
        color: darken($main-grey-color, 80%);
        }
    }

    .button_for_action {
    @include button-preform;
    padding: 13px 18.75px; 
    margin-bottom:60px;
    transition: all 0.3s ease;
    transform: translateZ(0) 400ms;  
       
    &:hover{ background: linear-gradient(90deg, #FF94E1, #9B6CDC);
        box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
        transform: translateZ(10px);

           + a {
            transform:translateY(-3px);
           }
        }
           a {@include button-inside-preform;
           }
    }
}
