//Mes variables//

$main-grey-color: #F3F3F3;
$secondary-rose-color: #FF79DA;
$third-violet-color: #9356DC;
$fourth-green-color: #99E2D0;
$main-police: 'Roboto', sans-serif;

//Mes mixins//
@mixin long-button-shadow {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

@mixin secondary-writingstyle {
    font-family: 'Shrikhand', sans-serif;
    font-style: italic;
}

@mixin button-preform {
    display: inline-flex;
    height: 50px;
    width: fit-content;
    box-sizing: border-box;
    background: linear-gradient(90deg, $secondary-rose-color, $third-violet-color);
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
}

@mixin button-inside-preform {
    color: white;
    font-size: 16px;
    font-weight: 500;
}

@mixin image-preform {
    object-fit: cover;
    flex-grow: 1;
}

@mixin long-button-preform {
    display: flex;
    height: 72px;
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}


//**Menu**//

.resto {
    display: flex;
    flex-direction: column;

    .resto_image {
        height: auto;
        @include image-preform;
        aspect-ratio: 3/2.1;
    }

    .menu {
        border-radius: 40px 40px 0 0;
        display: flex;
        flex-direction: column;
        background-color: $main-grey-color;
        margin-top: -13%;
        width: 100%;
        box-sizing: border-box;
        padding: 0 3%;
        gap: 40px;


        .resto_name {
            display: flex;
            justify-content: space-between;
            align-items: center;


            h1 {
                @include secondary-writingstyle;
                font-size: 28px;
                font-weight: 400;
                margin-top: 40px;
                margin-bottom: 0;
            }

            .like {
                position: relative;
                display: inline-block;
                width: 22px;
                height: 22px;
                cursor: pointer;
                padding-right: 4%;
                bottom: -20px;

                .input-like {
                    display: none;
                }

                /* Icône regular (non remplie) */
                .regular {
                    position: absolute;
                    font-size: 22px;
                    top: 0;
                    left: 0;
                    color: black;
                    /* Par défaut, noire */
                    z-index: 2;
                    /* Toujours au-dessus par défaut */
                    transition: color 1s ease-in-out;
                }

                .input-like:checked+.regular {
                    color: $third-violet-color;
                }

                .input-like:checked~.solid {
                    color: $third-violet-color;
                    opacity: 1;
                }

                .input-choice:not(:checked)+.regular {
                    color: $third-violet-color;
                }

                .input-l:not(:checked)~.solid {
                    color: white;
                    opacity: 0;
                }


                /* Icône solid (remplie) */
                .solid {
                    position: absolute;
                    font-size: 22px;
                    top: 0;
                    left: 0;
                    color: white;
                    /* Par défaut, blanche ou invisible */
                    opacity: 0;
                    /* Invisible par défaut */
                    z-index: 1;
                    /* Derrière regular par défaut */
                    transition: all 1s ease-in-out;
                }

            }
        }

    }

    .carte-plats {
        display: flex;
        flex-direction: column;
        gap: 40px;

        .type-plats {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 12px;
            opacity: 0;
            transform: translateX(-50%);

            /* Animation pour tous les blocs */
            animation: platsappear 1.2s cubic-bezier(0.42, 0, 0.58, 1) forwards;

            /* Appliquer un délai progressif pour chaque bloc */
            &:nth-child(1) {
                animation-delay: 0s;
                /* Entrées (immédiat) */
            }

            &:nth-child(2) {
                animation-delay: 0.3s;
                /* Plats (200ms plus tard) */
            }

            &:nth-child(3) {
                animation-delay: 0.6s;
                /* Desserts (400ms plus tard) */
            }



            .name {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                h2 {
                    font-size: 16px;
                    font-weight: 300;
                    margin-bottom: 6px;
                    margin-top: 0;
                }

                .underline {
                    width: 40px;
                    background-color: $fourth-green-color;
                    height: 3px;
                }
            }


            .variant-plat {
                align-items: flex-end;
                justify-content: space-between;
                background-color: white;
                width: 100%;
                @include long-button-preform;
                overflow: hidden;
                cursor: pointer;

                .input-choice {
                    display: none;
                }

                .input-choice:checked~.plat .plat-first_line,
                .input-choice:checked~.plat .plat-second_line {
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .plat {
                    display: inline-flex;
                    flex-direction: column;
                    padding-left: 15px;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    gap: 5px;
                    max-width: 62%;
                    white-space: nowrap;





                    .plat-first_line {
                        font-size: 18px;
                        font-weight: 500;
                        width: 100%;
                        overflow: visible;
                    }

                    .plat-second_line {
                        font-size: 15px;
                        font-weight: 300;
                        width: 100%;


                    }

                }




                .input-choice:checked~.choiceplat {
                    transform: translateX(0);
                    transition: transform 1s ease-in-out;
                }

                .input-choice:not(:checked)~.choiceplat {
                    transform: translateX(60%);
                    transition: transform 1s ease-in-out;
                }


                .choiceplat {
                    display: inline-flex;
                    box-sizing: border-box;
                    width: 120px;
                    height: 100%;
                    align-items: flex-end;
                    justify-content: space-between;
                    transform: translateX(60%);
                    gap: 15px;


                    .prix {
                        font-size: 15px;
                        font-weight: 700;
                        padding: 15px 0;
                        display: inline-block;
                    }


                    .coulisse {
                        width: 60%;
                        height: 100%;
                        background: $fourth-green-color;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        box-sizing: border-box;



                        .check-icon {
                            font-size: 18px;
                            background-color: white;
                            color: $fourth-green-color;
                            display: flex;
                            width: 24px;
                            height: 24px;
                            border-radius: 50px;
                            justify-content: center;
                            align-items: center;

                        }
                    }
                }

            }




        }
    }

    @keyframes platsappear {
        from {
            opacity: 0;
            transform: translateX(-50%);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;

        .button_for_action {
            @include button-preform;
            padding: 16px 49px;
            margin-bottom: 60px;
            transition: all 0.4s ease;

            &:hover {
                background: linear-gradient(90deg, #FF94E1, #9B6CDC);
                box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);

            }

            a {
                @include button-inside-preform;
            }
        }
    }
}

/****** Media queries ***********/
@media (min-width: 769px) {


    .resto {
        align-items: center;

        .resto_image {
            height: 380px;
            width: 100%;
        }

        .menu {
            width: 73%;
            margin-top: -5%;

            .resto_name {
                justify-content: center;
                gap: 20px;

                .like {
                    top: 19px;
                }
            }

            .carte-plats {
                padding: 0 20%;
            }
        }

        nav {

            .button_for_action {
                margin-bottom: 30px;
            }
        }
    }
}