@charset "UTF-8";
.resto {
  display: flex;
  flex-direction: column;
}
.resto .resto_image {
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  flex-grow: 1;
  aspect-ratio: 3/2.1;
}
.resto .menu {
  border-radius: 40px 40px 0 0;
  display: flex;
  flex-direction: column;
  background-color: #F3F3F3;
  margin-top: -13%;
  width: 100%;
  box-sizing: border-box;
  padding: 0 3%;
  gap: 40px;
}
.resto .menu .resto_name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.resto .menu .resto_name h1 {
  font-family: "Shrikhand", sans-serif;
  font-style: italic;
  font-size: 28px;
  font-weight: 400;
  margin-top: 40px;
  margin-bottom: 0;
}
.resto .menu .resto_name .like {
  position: relative;
  display: inline-block;
  width: 22px;
  height: 22px;
  cursor: pointer;
  padding-right: 4%;
  top: -4px;
  /* Icône regular (non remplie) */
  /* Icône solid (remplie) */
}
.resto .menu .resto_name .like .input-like {
  display: none;
}
.resto .menu .resto_name .like .regular {
  position: absolute;
  font-size: 22px;
  top: 0;
  left: 0;
  color: black;
  /* Par défaut, noire */
  z-index: 2;
  /* Toujours au-dessus par défaut */
  transition: color 1s ease-in-out;
}
.resto .menu .resto_name .like .input-like:checked + .regular {
  color: #9356DC;
}
.resto .menu .resto_name .like .input-like:checked ~ .solid {
  color: #9356DC;
  opacity: 1;
}
.resto .menu .resto_name .like .input-choice:not(:checked) + .regular {
  color: #9356DC;
}
.resto .menu .resto_name .like .input-l:not(:checked) ~ .solid {
  color: white;
  opacity: 0;
}
.resto .menu .resto_name .like .solid {
  position: absolute;
  font-size: 22px;
  top: 0;
  left: 0;
  color: white;
  /* Par défaut, blanche ou invisible */
  opacity: 0;
  /* Invisible par défaut */
  z-index: 1;
  /* Derrière regular par défaut */
  transition: all 1s ease-in-out;
}
.resto .carte-plats {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.resto .carte-plats .type-plats {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  opacity: 0;
  transform: translateX(-50%);
  /* Animation pour tous les blocs */
  animation: platsappear 1.2s cubic-bezier(0.42, 0, 0.58, 1) forwards;
  /* Appliquer un délai progressif pour chaque bloc */
}
.resto .carte-plats .type-plats:nth-child(1) {
  animation-delay: 0s;
  /* Entrées (immédiat) */
}
.resto .carte-plats .type-plats:nth-child(2) {
  animation-delay: 0.3s;
  /* Plats (200ms plus tard) */
}
.resto .carte-plats .type-plats:nth-child(3) {
  animation-delay: 0.6s;
  /* Desserts (400ms plus tard) */
}
.resto .carte-plats .type-plats .name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.resto .carte-plats .type-plats .name h2 {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 6px;
  margin-top: 0;
}
.resto .carte-plats .type-plats .name .underline {
  width: 40px;
  background-color: #99E2D0;
  height: 3px;
}
.resto .carte-plats .type-plats .variant-plat {
  align-items: flex-end;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  display: flex;
  height: 72px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
}
.resto .carte-plats .type-plats .variant-plat .input-choice {
  display: none;
}
.resto .carte-plats .type-plats .variant-plat .input-choice:checked ~ .plat .plat-first_line,
.resto .carte-plats .type-plats .variant-plat .input-choice:checked ~ .plat .plat-second_line {
  overflow: hidden;
  text-overflow: ellipsis;
}
.resto .carte-plats .type-plats .variant-plat .plat {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 5px;
  max-width: 55%;
  white-space: nowrap;
}
.resto .carte-plats .type-plats .variant-plat .plat .plat-first_line {
  font-size: 18px;
  font-weight: 500;
  transition: all 0.5s;
}
.resto .carte-plats .type-plats .variant-plat .plat .plat-second_line {
  font-size: 15px;
  font-weight: 300;
  transition: all 0.5s;
}
.resto .carte-plats .type-plats .variant-plat .input-choice:checked ~ .choiceplat {
  transform: translateX(0);
  transition: transform 1s ease-in-out;
}
.resto .carte-plats .type-plats .variant-plat .input-choice:not(:checked) ~ .choiceplat {
  transform: translateX(50%);
  transition: transform 1s ease-in-out;
}
.resto .carte-plats .type-plats .variant-plat .choiceplat {
  display: flex;
  box-sizing: border-box;
  width: 33%;
  height: 100%;
  align-items: flex-end;
  justify-content: flex-end;
  transform: translateX(50%);
  gap: 15px;
}
.resto .carte-plats .type-plats .variant-plat .choiceplat .prix {
  font-size: 15px;
  font-weight: 700;
  padding: 15px 0;
}
.resto .carte-plats .type-plats .variant-plat .choiceplat .coulisse {
  width: 50%;
  height: 100%;
  background: #99E2D0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.resto .carte-plats .type-plats .variant-plat .choiceplat .coulisse .check-icon {
  font-size: 18px;
  background-color: white;
  color: #99E2D0;
  display: flex;
  width: 24px;
  height: 24px;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
}
@keyframes platsappear {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.resto nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.resto nav .button_for_action {
  display: inline-flex;
  height: 50px;
  width: -moz-fit-content;
  width: fit-content;
  box-sizing: border-box;
  background: linear-gradient(90deg, #FF79DA, #9356DC);
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  padding: 16px 49px;
  margin-bottom: 60px;
  transition: all 0.4s ease;
}
.resto nav .button_for_action:hover {
  background: linear-gradient(90deg, #FF94E1, #9B6CDC);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
}
.resto nav .button_for_action a {
  color: white;
  font-size: 16px;
  font-weight: 500;
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (min-width: 769px) and (max-width: 1440px) {
  body .main-container {
    max-width: 1440px;
  }
  body .main-container .resto {
    align-items: center;
  }
  body .main-container .resto .resto_image {
    height: 380px;
    width: 100%;
  }
  body .main-container .resto .menu {
    width: 73%;
    margin-top: -5%;
  }
  body .main-container .resto .menu .resto_name {
    justify-content: center;
    gap: 20px;
  }
  body .main-container .resto .menu .resto_name .like {
    top: 19px;
  }
  body .main-container .resto .menu .carte-plats {
    padding: 0 20%;
  }
  body .main-container .resto nav .button_for_action {
    margin-bottom: 30px;
  }
}/*# sourceMappingURL=menu_resto.css.map */