@charset "UTF-8";
.restaurants {
  background-color: #F3F3F3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px 4.6%;
}
.restaurants .restaurants_title {
  margin-top: 0;
  margin-bottom: 24px;
}
.restaurants .restaurants_cards {
  display: flex;
  flex-direction: column;
  gap: 18px;
  box-sizing: border-box;
  width: 100%;
}
.restaurants .restaurants_cards a {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.restaurants .restaurants_cards a .card {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: white;
}
.restaurants .restaurants_cards a .card .card-image {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  position: relative;
}
.restaurants .restaurants_cards a .card .card-image img {
  height: 180px;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  flex-grow: 1;
  -o-object-position: center 68%;
     object-position: center 68%;
}
.restaurants .restaurants_cards a .card .card-image .card-new {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #32b091;
  background-color: #99E2D0;
  padding: 6px 9px;
  font-size: 14px;
  font-weight: 500;
  display: inline-flex;
  box-sizing: border-box;
  border-radius: 2px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.restaurants .restaurants_cards a .card .card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 10px;
}
.restaurants .restaurants_cards a .card .card-content .card-txt {
  display: flex;
  flex-direction: column;
}
.restaurants .restaurants_cards a .card .card-content .card-txt .card-title {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}
.restaurants .restaurants_cards a .card .card-content .card-txt .card-subtitle {
  font-size: 17px;
  font-weight: 300;
  margin: 0;
}
.restaurants .restaurants_cards a .card .card-content .like {
  position: relative;
  display: inline-block;
  width: 22px;
  height: 22px;
  cursor: pointer;
  padding-right: 4%;
  top: -4px;
  /* Icône regular (non remplie) */
  /* Icône solid (remplie) */
}
.restaurants .restaurants_cards a .card .card-content .like .input-like {
  display: none;
}
.restaurants .restaurants_cards a .card .card-content .like .regular {
  position: absolute;
  font-size: 22px;
  top: 0;
  left: 0;
  color: black;
  /* Par défaut, noire */
  z-index: 2;
  /* Toujours au-dessus par défaut */
  transition: color 1s ease-in-out;
}
.restaurants .restaurants_cards a .card .card-content .like .input-like:checked + .regular {
  color: #9356DC;
}
.restaurants .restaurants_cards a .card .card-content .like .input-like:checked ~ .solid {
  color: #9356DC;
  opacity: 1;
}
.restaurants .restaurants_cards a .card .card-content .like .input-choice:not(:checked) + .regular {
  color: #9356DC;
}
.restaurants .restaurants_cards a .card .card-content .like .input-l:not(:checked) ~ .solid {
  color: white;
  opacity: 0;
}
.restaurants .restaurants_cards a .card .card-content .like .solid {
  position: absolute;
  font-size: 22px;
  top: 0;
  left: 0;
  color: white;
  /* Par défaut, blanche ou invisible */
  opacity: 0;
  /* Invisible par défaut */
  z-index: 1;
  /* Derrière regular par défaut */
  transition: all 1s ease-in-out;
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (min-width: 769px) and (max-width: 1440px) {
  .restaurants {
    padding: 30px 93.5px;
  }
  .restaurants .restaurants_cards {
    flex-direction: row;
    flex-wrap: wrap;
    -moz-column-gap: 80px;
         column-gap: 80px;
    row-gap: 40px;
  }
  .restaurants .restaurants_cards a {
    width: calc(50% - 50px);
    flex-grow: 1;
  }
}/*# sourceMappingURL=restaurants_cards.css.map */