@use 'rules' as *;

//**Resto-header**//

.resto-header {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: relative;


        nav {
        position: absolute;
        left: 10px;
        
             i {
            color: darken($main-color-grey, 65%);
            margin-left: 12px;
            font-size: 17px;
            }
        }
   
        @include logo-preform
    }
    /****** Media queries ***********/

@media (min-width: 769px){
    .resto-header .logo{
        margin-bottom: 32px;
        margin-top: 30px;
    }
}