//Mes variables//

$main-grey-color: #F3F3F3;
$secondary-rose-color: #FF79DA;
$third-violet-color: #9356DC;
$fourth-green-color: #99E2D0;
$main-police: 'Roboto', sans-serif;

//Mes mixins//
@mixin long-button-shadow {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

@mixin secondary-writingstyle {
    font-family: 'Shrikhand', sans-serif;
    font-style: italic;
}

@mixin button-preform {
    display: inline-flex;
    height: 50px;
    width: fit-content;
    box-sizing: border-box;
    background: linear-gradient(90deg, $secondary-rose-color, $third-violet-color);
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
}

@mixin image-preform {
    object-fit: cover;
    flex-grow: 1;
}

@mixin long-button-preform {
    display: flex;
    height: 72px;
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

@mixin section-preform {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



//**Restaurants**//

.restaurants {
    background-color: $main-grey-color;
    @include section-preform;
    padding: 60px 4.6%;


    .restaurants_title {
        margin-top: 0;
        margin-bottom: 24px;
    }

    .restaurants_cards {
        display: flex;
        flex-direction: column;
        gap: 18px;
        box-sizing: border-box;
        width: 100%;


        a {
            display: flex;
            flex-direction: column;
            width: 100%;


            .card {
                display: flex;
                flex-direction: column;
                border-radius: 20px;
                background-color: lighten($main-grey-color, 5%);


                .card-image {
                    display: flex;
                    flex-direction: column;
                    border-radius: 20px;
                    position: relative;


                    img {
                        height: 180px;
                        border-radius: 20px;
                        @include image-preform;
                        object-position: center 68%;
                    }

                    .card-new {
                        position: absolute;
                        top: 20px;
                        right: 20px;
                        color: darken($fourth-green-color, 30%);
                        background-color: $fourth-green-color;
                        padding: 6px 9px;
                        font-size: 14px;
                        font-weight: 500;
                        display: inline-flex;
                        box-sizing: border-box;
                        border-radius: 2px;
                        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
                    }
                }

                .card-content {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 14px 10px;


                    .card-txt {
                        display: flex;
                        flex-direction: column;

                        .card-title {
                            font-size: 18px;
                            font-weight: 700;
                            margin: 0;
                        }

                        .card-subtitle {
                            font-size: 17px;
                            font-weight: 300;
                            margin: 0;
                        }
                    }

                    .like {
                        position: relative;
                        display: inline-block; 
                        width: 22px; 
                        height: 22px;
                        cursor: pointer;
                        padding-right: 4%;
                        top:-4px;
                    
                    
                    /* Icône regular (non remplie) */
                    .regular {
                        position: absolute;
                        font-size: 22px;
                        top: 0;
                        left: 0;
                        color: black; /* Par défaut, noire */
                        z-index: 2; /* Toujours au-dessus par défaut */
                        animation:fill-thinheart 2s ease-in-out forwards;
                        animation-play-state: paused;
                    }

                    /* Icône solid (remplie) */
                    .solid {
                        position: absolute;
                        font-size: 22px;
                        top: 0;
                        left: 0;
                        color: white; /* Par défaut, blanche ou invisible */
                        opacity: 0; /* Invisible par défaut */
                        z-index: 1;/* Derrière regular par défaut */
                        animation:fill-fullheart 2s ease-in-out forwards;
                        animation-play-state: paused;
                     }

                         /* Au survol du conteneur */
                         &:hover {
                        .regular {
                            animation-play-state: running;
                         }

                        .solid {
                            animation-play-state: running;
                       
                        }
                         }

                         &:active {
                            .regular {
                                
                                animation:empty-thinheart 0.5s ease-in-out forwards;
                             }
    
                            .solid {
                                animation:empty-fullheart 0.5s ease-in-out forwards;
                            }
                             }
                    }
        
                
                    @keyframes fill-thinheart {
                        0% {
                            color: black; /* Départ en noir */
                        }
                        100% {
                            color: $third-violet-color; /* Fin en violet */
                        }
                    }
                    /* Animation pour l'icône solid */
                    @keyframes fill-fullheart {
             0% {
             color: white; /* Départ en blanc */
            opacity: 0; /* Invisible */
        }
        100% {
            color: $third-violet-color; /* Fin en violet */
            opacity: 1; /* Complètement visible */
        }
    }
    @keyframes empty-thinheart {
        0% {
            color: $third-violet-color; /* Départ en violet */
        }
        100% {
            color: black; /* Fin en black */
        }
    }
    /* Animation pour l'icône solid */
    @keyframes empty-fullheart {
0% {
color:$third-violet-color; /* Départ en violet */
opacity: 1; /* Visible */
}
100% {
color: white; /* Fin en blanc */
opacity: 0; /* Complètement invisible */
}
}
}

                }
            
        }
    }
}

